<!DOCTYPE html>
<html lang="de">
<head>
  <title>WaDokuJT-STAGING</title>
  <link rel='stylesheet' href='<%= to "/css/#{@css}.css" %>' />
  <link rel='stylesheet' href='<%= to '/css/site.css' %>' />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script src="/js/lodash.min.js" type="text/javascript"></script>
  <script src="/js/mustache.min.js" type="text/javascript"></script>
  <script type="text/x-mustache" id="entry-template"><%= @entry_template %></script>
  <script type='text/javascript'>
    api_host = '<%= settings.api_host %>';
  </script>
  <script src='/js/soundmanager2-jsmin.js' type='text/javascript' ></script>
  <script src='/js/site.js' type='text/javascript' ></script>
  <script src='/js/bootstrap.js' type='text/javascript' ></script>
</head>

  <div class='navbar navbar-fixed-top navbar-inverse'>
    <div class='navbar-inner'>
      <div class='container'>
        <a href='<%= to '/' %>' class='brand'>WaDokuJT-STAGING</a>
        <ul class='nav pull-right'>
          <li><p class='navbar-text picky-counter'></p></li>
          <li>
            <form class='navbar-search' action='<%= to '/' %>'>
              <input id='search-top' name='query' type='search' autocomplete='off' autofocus class='search-query' value='<%= @query %>'/>
            </form>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class='content'>

      <%= yield %>

      <footer>
        <p>Daten: &copy; <%= Time.now.year %> <a href="https://wadoku-ev.de">Wadoku e.V.</a> | Programmierung: &copy; 2012 - <%= Time.now.year %> Roger Braun & Maximilian Maintz</p>
        <p>Code und Daten dieser Seite stehen unter offenen Lizenzen (CC und GPL). Beides findet sich auf <a href='https://github.com/WaDoku'>GitHub</a>.</p>
        <p><b>Allgemeine Datenschutzerklärung</b></p>
        <p align="justify">Durch die Nutzung unserer Website erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäß der nachfolgenden Beschreibung einverstanden. Unsere Website kann grundsätzlich ohne Registrierung besucht werden. Dabei werden Daten wie beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit zu statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen werden. Personenbezogene Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit möglich auf freiwilliger Basis erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten an Dritte. (Quelle für Datenschutzerklärung: Muster-Datenschutzerklärung von anwalt.de)</p>
        <p><b>Datenschutzerklärung zu SSL</b></p>
        <p align="justify">SSL-Verschlüsselung Um Ihre übermittelten Daten bestmöglich zu schützen nutzen die Websitebetreiber eine SSLVerschlüsselung. Sie erkennen derart verschlüsselte Verbindungen an dem Präfix “https://“ im Seitenlink in der Adresszeile Ihres Browsers. Unverschlüsselte Seite sind durch „http://“ gekennzeichnet. Sämtliche Daten, welche Sie an diese Website übermitteln – etwa bei Anfragen oder Logins – können dank SSL-Verschlüsselung nicht von Dritten gelesen werden. (Quelle: Muster von datenschutz.org)</p>
      </footer>
    </div>
  </div>
</body>
</html>
